@import url('https://fonts.googleapis.com/css2?family=Anton&family=Leckerli+One&display=swap');
/*
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
 */
  


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
}
body{
    font-family: "Anton", sans-serif;
    font-weight:200;
    font-style: normal;
    background-color: rgb(253, 249, 249);
    color: rgb(6, 0, 0);

}

.header{
    background-image:url(7eac1804-3d85-4e03-a456-8d91934472e1.jfif);
    background-position:center bottom;
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    align-items: center;
    min-height:70vh;
    color:white;

}

.menu{
   position:absolute;
   top:0;
   left:0;
   right:0;
   display:flex;
   align-items:center;
   justify-content:space-between;
}

.logo{
color:white;
font-size:25px;
font-weight:800;


}

.logo:hover{
color:orangered;
}

.menu .navbar ul li{
position:relative;
float:left;
}

.menu .navbar ul li a{
font-size:18px;
padding:20px;
color:rgb(209, 3, 3);
display:block;
font-weight:600;

}

.menu .navbar ul li a:hover{
color:green;
}

#menu{
display:none;
}

.menu img{
width:65px;
border-radius:30px;


}

.menu label{
cursor:pointer;
display:none;
}

.header-content{
width:100%;
}

.header-txt{
width:50%;
}

.oferta{
display:inline-block;
font-size:16px;
padding:5px 13px;
color:white;
border-radius:25px;
text-transform:uppercase;
background-color:rgb(179, 118, 6);
margin-bottom:35px;
}

.header-txt h1{
font-size:110px;
line-height:110px;
font-family: "Anton", sans-serif;
color:white;
margin-bottom:35px;
}

.btn-1{
display:inline-block;
padding:13px 35px;
background-color:rgb(225, 80, 27);
color:white;
font-size:15px;
text-transform: uppercase;
}

.btn-1:hover{
background-color: orangered;
}

.about{
padding:100px 0 0 0;
display:flex;
align-items: center;
}

.about-img{
width:50%;
text-align:center;
}

.about-img img{
height:700px;
}

.about-txt{
width:50%;
}

h2{
font-size:55px;
line-height:70px;
text-transform:uppercase;
margin-bottom:25px;
color:black;
}

p{
font-size:16px;
color:gray;
margin-bottom:25px;
}

.ofert{
padding:100px 0;
display:flex;
justify-content: center;
align-items: center;
}

.ofert img{
width:400px;
}

.product{
text-align:center;
padding:0 0 100px 0;
}

.product-content{
margin:50px 0 70px 0;
justify-content:space-between;
justify-content: center;
align-items: center;
display:grid;
grid-template-columns:repeat(3,1fr);
}

.product-1{
width:400px;
padding:25px 50px;

}

.product-1 img{
width:300px;
border-radius:10px;
box-shadow:5px 5px 5px rgb(45, 39, 39);
}

.product-1 h3{
font-size:20px;
text-transform:uppercase;
font-weight:800;
margin:15px 0;
}

.product-1 span{
    display:block ;
    font-size:20px;
    font-weight:800;
    color:orangered;
    margin-bottom:15px;
}

.news{
padding: 100px 0;
background-color:rgb(242, 95, 41);
}

.news-content{
display:flex;
align-items:center;
}

.news-1{
padding-left:100px;
width:50%;
}

.news-1 h3{
font-size:30px;
color:white;
text-transform:uppercase;
margin-bottom:15px;
}


.news-1 p{
color:white;
}

.news-2{
width:50%;
}

form{
display:flex;
align-items:center;
}

input{
width:450px;
padding:15px;
border:0;
outline:none;
margin-right:10px;
}

.btn-2{
width:150px;
background-color:orange;
font-size:14px;
font-weight:600;
text-transform: uppercase;
color:white;
}

.map{
-webkit-filte:grayscale(100%);
}

.footer{
background-color: black;
padding:100px 0;
margin-top:-7px;
}

.footer-content{
display:flex;
justify-content:space-between;
margin:10px;
}

.link h3{
color:white;
font-size:18px;
margin-bottom:15px;
}

.link a{
display:block;
margin-bottom:10px;
font-size:16px;
color:white;
}

.link a:hover{
    color: red;
}

.nav-list li a{
text-decoration:none;
color:rgb(210, 11, 11);
}

.logo{
max-width:5rem;
}

.nav-list{
list-style-type:none;
display:flex;
gap:1rem;
}

.abrir-menu
{
display:none;
}
.cerrar-menu{
display:none;
}

.verde {
    width: 90%;
    max-width: 800px;
    margin: 25px auto;
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px solid #035f22;
    box-shadow: 0 2px 10px #035f22, 0 2px 10px #035f22;
}

/* -------------------------------------------- FORMULARIO ------------------------------------------*/
.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
}

.formulario__label {
    display: block;
    padding: 10px 0;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 90%;
    background: transparent;
    border-bottom: 2px solid #057e31;
    border-right: none;
    color:#080606;
    text-transform: uppercase;
    font-size: 17px;
    outline: none;
    line-height: 45px;
    padding: 0 10px;
    transition: all 1s;
}

.formulario__validacion-estado {
    position: absolute;
    right: 45px;
    bottom: 15px;
    z-index: 1000;
    font-size: 16px;
    opacity: 0;
}

.formulario__input:focus {
    box-shadow: 0 0 5px #df3525;
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__span {
    font-size: 1.1em;
    font-weight: 100;
}

.formulario__checkbox{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 10px;
}

.formulario__grupo-terminos {
    text-align: center;
}

.formulario__grupo-terminos, .formulario__mensaje, .formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    display: none;
    /* height: 45px; */
    /* line-height: 45px; */
    padding: 15px;
    border-radius: 5px;
    background: rgb(207, 117, 117);
    text-align: center;
}

.h2{
align-items: center;
text-align: center;
display: flex;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    padding: 15px 35px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.formulario__btn:hover {
    background: #035f22;
    transition: 1s;
}

.formulario__mensaje-exito {
    font-size: 2em;
    color: #20b80c;
    padding: 10px;
    text-align: center;
    display: none;
}

.formulario__mensaje-exito-activo { 
    display: block;
}


/* --------------------------------------------- VALIDACIÓN ----------------------------------------- */
.formulario__grupo-correcto .formulario__validacion-estado{
    color: #29ee0f;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
    color: #f25050;
}


.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #ee0f0f;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 1px solid #ee0f0f;
    
}

.contacto{
align-items: center;
display: flex;
text-transform: uppercase;
font-size:20px;
text-align: center;

}



.contac-logo{
    background-image:url(7eac1804-3d85-4e03-a456-8d91934472e1.jfif);
    background-position:center bottom;
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    align-items: center;
    min-height:70vh;
    color:white;

}

.titulo-hambur{
display: flex;
text-transform: uppercase;
justify-content: center;
}








@media screen and (max-width:900px){
.formulario {
    grid-template-columns: 1fr;
}

.formulario__grupo-terminos, 
.formulario__mensaje, 
.formulario__grupo-btn-enviar {
    grid-column: 1;
}

.formulario__btn {
    width: 100%;
}


    .navbar{
    opacity:0;
    visibility:hidden;
    
    display:flex;
    flex-direction:column;
    align-items:end;
    gap:1rem;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    background-color:rgb(6, 5, 5);
    padding:2rem;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
    
    }
    .navbar.visible{
    opacity:1;
    visibility:visible;
    }
    
    .nav-list li a{
    color:rgb(234, 132, 132);
    }
    
    .nav-list{
    flex-direction:column;
    align-items:end;
    }
        
    .menu{
    padding:30px;
    }
    .menu label{
    display:initial;
    }
    .menu .navbar{
    position:absolute;
    top:100%;
    left:0;
    right:0;
    background-color:rgb(249, 204, 98);
    display:none;
    }
    .menu .navbar ul li{
    width:100%;
    }
    #menu:checked- .navbar{
    display:initial;
    }
    .header{
    min-height:0vh;
    background-position:left bottom;
    }
    .header-content{
    padding:100px 30px 50px 30px;
    }
    
    .header-txt{
    width:100%;
    text-align:center;
    }
    
    .header-txt h1{
    font-size:70px;
    line-height:70px;
    }
    
    .about{
    padding:30px 30px 0 30px;
    flex-direction:column;
    }
    
    .about-img{
    width:100%;
    order:2;
    }
    
    .about-img img{
    height:400px;
    }
    
    .about-txt{
    width:100%;
    text-align:center;
    margin-bottom:30px;
    }
    
    h2{
    font-size:40px;
    line-height:50px;
    }
    
    .ofert{
    padding:30px 30px 0 30px;
    flex-direction:column;
    }
    
    .ofert img{
    width:100%;
    }
    
    .product{
    padding:30px;
    }
    
    .product-content{
    margin:0px;
    grid-template-columns:repeat(1,1fr);
    
    }
    
    .product-1{
    width:100%;
    padding:0;
    }
    
    .news{
    padding:30px;
    }
    
    .news-content{
    flex-direction:column;
    text-align:center;
    }
    
    .news-1, .news-2{
    padding:0;
    width:100%;
    }
    
    .footer{
    padding:30px;
    }
    
    .footer-content{
    flex-direction:column;
    text-align:center;
    }
    .footer-content{
     flex-direction: column;
     display: flex;
     text-align: center;
    }
    

}




